.vote_up_down {
    font-style:italic;
    font-size: 90%;
    border-radius: 8px 8px;
    background-color:#F3F3F3;
    padding: 6px 12px !important;
}
.vote_up_head {
    font-style:normal; color:#008000;
}
.vote_down_head {
    font-style:normal; color:#FF0000;
}
.brd .postfoot .post-vote {
	padding: 0.5em 1.5em 0.5em 1em;
	text-align: left;
	display: block;
	float: left;
}
.brd .postfoot .post-vote p{
	padding: 0.5em 1.5em 0.5em 1em;
	text-align: left;
font-size: 10px;
left: 0em;
text-indent: 0em;
position: relative;
line-height: 0;
visibility: hidden;
}
